.form-comment {
  @include use-theme(background-color, $palette-primary-light, $palette-primary-dark);
  padding: $spacing1;
  border-radius: $rounded-small;
  @include breakpoints-up(sm) {
    padding: spacing(2, 3);
  }
}

.write {
  position: relative;
  display: flex;
  align-items: center;
  ::v-deep fieldset {
    height: 41px;
  }
  ::v-deep .v-text-field--solo > .v-input__control > .v-input__slot {
    @include padding-right(150px);
  }
  ::v-deep .v-input {
    border-radius: 40px;
  }
  ::v-deep .v-text-field__details {
    display: none;
  }
  .send-btn {
    position: absolute;
    top: 2px;
    @include right(2px);
    @include use-theme(background-color, $palette-primary-light, $palette-primary-dark);
    .v-icon {
      font-size: 28px;
    }
  }
}

.avatar {
  @include margin-right($spacing1)
}

.comments {
  position: relative;
  z-index: 10;
  &.v-list {
    background-color: transparent;
  }
}

.comment-list {
  margin-top: $spacing2
}

.date {
  height: auto;
  padding: 0;
  font-size: 12px;
}

.content {
  margin-top: $spacing1;
  margin-bottom: $spacing2;
  line-height: 1.5;
}

.help-item {
  text-transform: uppercase;
  font-size: 13px;
}
