@function section-margin($margin) {
  @return $margin * 15;
}
.main-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  .theme--dark & {
    background-color: $dark-background-default;
  }
  .theme--light & {
    background-color: $light-background-paper;
  }
}
.space-bottom {
  margin-bottom: section-margin($spacing1);
   @include breakpoints-down(md) {
    margin-bottom: section-margin($spacing1 / 1.5);
  }
}
.space-top {
  margin-top: section-margin($spacing1);
  @include breakpoints-down(md) {
    margin-top: section-margin($spacing1 / 1.5);
  }
}
.space-bottom-short {
  margin-bottom: section-margin($spacing1 / 1.5);
  @include breakpoints-down(md) {
    margin-bottom: section-margin($spacing1 / 2.5);
  }
}
.space-top-short {
  margin-top: section-margin($spacing1 / 1.5);
  @include breakpoints-down(md) {
    margin-top: section-margin($spacing1 / 2.5);
  }
}
.container-wrap {
  & > section {
    position: relative;
  }
}

.container-general {
  position: relative;
  padding-top: 32px;
  margin-top: $spacing7;
  margin-bottom: $spacing5;
  @include breakpoints-up(sm) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.container-front {
  position: relative;
  z-index: 10;
}

.full-screen-container {
  height: 100vh;
  display: flex;
}
.title-bar{
  position: relative;
  margin-top: $spacing7;
  padding-top: 32px;
  // .v-sheet {
  //   height: 10px
  // }

}
.backgound-header{
  background: rgb(240,68,68);
  background: -moz-linear-gradient(135deg, rgba(240,68,68,0.7959558823529411) 29%, rgba(255,0,0,1) 53%, rgba(240,68,68,0.7035189075630253) 77%);
  background: -webkit-linear-gradient(135deg, rgba(240,68,68,0.7959558823529411) 29%, rgba(255,0,0,1) 53%, rgba(240,68,68,0.7035189075630253) 77%);
  background: linear-gradient(135deg, rgba(240,68,68,0.7959558823529411) 29%, rgba(255,0,0,1) 53%, rgba(240,68,68,0.7035189075630253) 77%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f04444",endColorstr="#f04444",GradientType=1);

}

.coloured-page {
  @include use-theme(background-color, $palette-primary-main, $palette-primary-dark);
}

.maintenance-icon {
  border-radius: 50%;
  margin: $spacing1;
  padding: $spacing2;
  &.v-icon {
    font-size: 48px;
  }
  @include use-theme(background, $light-divider, $dark-divider);
  @include breakpoints-up(sm) {
    padding: $spacing3;
    margin: $spacing3;
  }
  &.primary-color {
    color: $palette-primary-light;
    background: rgba(255, 255, 255, 0.25);
  }
  &.secondary-color {
    color: $palette-secondary-light;
    background: rgba(255, 255, 255, 0.25);
  }
  &.accent-color {
    color: $palette-accent-light;
    background: rgba(255, 255, 255, 0.25);
  }
}

.arrow {
  .v-btn i {
    @include rtl-flip;
  }
}
